html, body{height:100%;}
/* Colors used in the app */
/* Background- Peach-Yellow: #f7e3af */
/* Main text- Jet: #32292f */
/* Display text- Antique Fuschia: #995d81 */
/* Secondary text- Independence: #575366 */
/* Elements- Dark Puce: #533745 */

html,
body {
  height: 100%;
  margin: 0
}

nav {
  background-color: #533745;
}

.container-fluid {
  background-color: #f7e3af;
  min-height: 100vh;
  height: 100%;
}

.h1 {
  color: #32292f;
}

.display-1 {
  color: #995d81;
}

.text-secondary {
  color: #575366;
}

.jumbotron {
  background-color: #f7e3af;
  border-radius: 0%;
  margin: -1%;
}

hr {
  border: 1px solid #575366;
}

header {
  height: calc(100% - 100px); 
}