@import url('https://fonts.googleapis.com/css?family=Allan');
/* Colors used in the app */
/* Background- Peach-Yellow: #f7e3af */
/* Main text- Jet: #32292f */
/* Display text- Antique Fuschia: #995d81 */
/* Secondary text- Independence: #575366 */
/* Elements- Dark Puce: #533745 */

html,
body {
  height: 100%;
  margin: 0
}

nav {
  background-color: #533745;
}

.container-fluid {
  background-color: #f7e3af;
  min-height: 100vh;
  height: 80%;
}

.h1 {
  color: #32292f;
}

.display-1 {
  color: #995d81;
}

.text-secondary {
  color: #575366;
}

.jumbotron {
  background-color: #f7e3af;
  border-radius: 0%;
  margin: -1%;
}

hr {
  border: 1px solid #575366;
}

footer {
  height: 48px;
}

.cloud-text {
  font-family: 'Allan';
  color: #f7e3af;
}

.btn-primary {
  background-color: #575366;
}

.btn-secondary {
  background-color: #f7e3af;
  color: #533745;
}

.btn-secondary:hover {
  cursor: pointer;
  background-color: #995d81;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 576px) {
  .display-1 {
    font-size: 6em;
  }

  .text-secondary {
    font-size: 1.1em;
  }

  .cloud-text {
    font-size: 5em;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .display-1 {
    font-size: 7em;
  }

  .text-secondary {
    font-size: 1.1em;
  }

  .cloud-text {
    font-size: 6em;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .display-1 {
    font-size: 7em;
  }

  .text-secondary {
    font-size: 1.1em;
  }

  .cloud-text {
    font-size: 8em;
  }

  .divider {
    height: 4em;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .display-1 {
    font-size: 8em;
  }

  .text-secondary {
    font-size: 1.2em;
  }

  .cloud-text {
    font-size: 9em;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .display-1 {
    font-size: 8em;
  }

  .text-secondary {
    font-size: 1.2em;
  }

  .cloud-text {
    font-size: 10em;
  }

}
